<!doctype html>
<html lang="es">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  
  <div class="container mt-2">
    <!--button.btn.btn-primary.btn-sm#cargar-datos{Cargar datos} => código emmet 
    .  = clases
    #  =  id
    {} = etiqueta-->
    <button type="button" class="btn btn-primary btn-sm" id="cargar-datos">Cargar datos</button>
    <button type="button" class="btn btn-success btn-sm" id="boton-pruebas">Botón pruebas</button>
    <hr>

    <table class="table table-striped table-sm" id="tabla-cursos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Nivel</th>
          <th>Precio</th>
          <th>Horas</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <!-- jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <!-- Script personalizados
  $/("algo") => selector -->
  <script>

    $(document).ready(function (){

      function mostrarDatos(){
       //comunicación asíncrona/AJAX con el controlador
       $.ajax({
         url:  '../controllers/curso.controller.php',
         type: 'POST',
         data:  {
           operacion:'listar'
         },
         dataType: 'JSON',
         success: function(result){
           if (result.length > 0){
            //console.log(result);
            const listaCursos = result;
            listaCursos.forEach(curso => {
              let nuevaFila = ``;
              nuevaFila +=  `<tr>`;
              nuevaFila +=  `<td>${curso['id']}</td>`;
              nuevaFila +=  `td>${curso['nombre']}/td>`;
              nuevaFila +=  `<td>${curso['nivel']}</td>`;
              nuevaFila +=  `<td>${curso['precio']}</td>`;
              nuevaFila +=  `<td>${curso['horas']}</td>`;
              nuevaFila +=  `</tr>`;

              $("#tabla-cursos tbody").append(nuevaFila);
            });
          }

         }//fin success
       }); //fin Ajax
      }//fin mostrar datos
      //controlamos el botón

      //controlsmod en el botón.
      $("#cargar-datos").click(mostrarDatos);

    });
  </script>
</body>

</html>